@import "../../styles/layout.scss";

.title {
  font-size: 1.8em;
  max-width: $desktopMaxWidth;
  margin: 0 auto;
  display: block;
  padding: .6em;
}

.posts {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: $desktopMaxWidth;

  >*+*:not(:first-child) {
    margin-top: 1.8rem;
  }
}

.inside {
  color: white;
  position: relative;
  width: 100%;
  overflow: hidden;

  .thumbnail {
    position: relative;
    width: 100%;

    >div>* {
      padding-bottom: 60%!important;
    }
  }

  .title {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.6em;
    margin: 0;
    font-size: 1.2em;
    color: white;
    z-index: 0;
    text-decoration: none;
    font-weight: 500;

    &::after {
      content: "";
      position: absolute;
      width: 120%;
      height: 120%;
      bottom:0;
      left: 0;
      z-index: -1;
      background: rgba(0,0,0,0.9);
      filter: blur(50px);	
    }
    
  }
}