.inside {
  color: white;
  position: relative;
  width: 100%;
  overflow: hidden;
  
  &:first-child {
    // margin-right: .8em;
  }

  margin: .8em 0 .8em;

  .thumbnail {
    position: relative;
    width: 100%;
    >div {
      padding-bottom: 60%!important;
    }
  }
  
  .title {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.6em;
    margin: 0;
    font-size: 1.2em;
    color: white;
    z-index: 0;
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      width: 120%;
      height: 120%;
      bottom:0;
      left: 0;
      z-index: -1;
      background: rgba(0,0,0,0.8);
      filter: blur(60px);	
    }
    
  }
}


@media (min-width: 900px) {
	.posts {	
		display: flex;
	 	margin: 0 auto;
		width: 90vw;
		margin-bottom: 1.25em;
  }
  .inside {
    margin: .5em;
    width: 100%;
  }
}